{% extends 'nevigation.html'%}
{% load static %}
{% block body %}
<div style="background-color: darkcyan;width: 100%;height: 100px">
  <h3 class="text-white container pt-3">Contact Us</h3>
</div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d69501.02062595046!2d90.27806558529835!3d23.72250697953126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8f72177936d%3A0xdb4d29aa7d70ad35!2z4KaV4KeD4Ka34Ka_IOCmruCmqOCnjeCmpOCnjeCmsOCmo-CmvuCmsuCnnw!5e0!3m2!1sen!2sbd!4v1646583822832!5m2!1sen!2sbd" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

             <div class="col-sm-6 mt-5">
                <p><i class="fas fa-envelope"></i> Email ID :oishy4835@gmail.com</p>
                <p><i class="fas fa-phone-square"></i> Contact: +8801724344187</p>
                 <p><i class="fas fa-address-card"></i> Address:PCH5+VGG, Dhaka 1205 </p>
                 <p><i class="fas fa-envelope"></i> Working hours:10:00 to 17:00 </p>
                 <p>Follow Us:</p>
                 <a href="https://www.facebook.com/oishy.tamanna.7/"><i class="fab fa-facebook-square"></i></a>
                 <a href="https://www.linkedin.com/in/jakia-tamanna-oishy-5676a2227?fbclid=IwAR0qcxQPdfn5dlOhZ-Fk0GOLg5DHWFniI6JEtd-Oc6iXuASUioQQpzYwSZ0"><i class="fab fa-linkedin pl-5"></i></a>

             </div>
        </div>
    </div>
{% endblock %}

